<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Core\packages.config" />
  <repository path="..\Site\packages.config" />
  <repository path="..\Core.Tests\packages.config" />
  <repository path="..\Site.Tests\packages.config" />
  <repository path="..\Integration.Picasa\packages.config" />
  <repository path="..\Imaging.Wpf\packages.config" />
  <repository path="..\Imaging.GdiPlus\packages.config" />
</repositories>