@model AlbumViewModel

<div class="album-view" data-id="@Model.ID">
  <div class="wall">
     @Html.Partial("_Items") 
  </div>
</div>

@if (Model.CanManageSecurity) { 
   @Html.Partial("AlbumVisibleTo") 
 } 

