html, input, select, textarea {
    font-family: "Calibri",Verdana,Helvetica,sans-serif;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    
    overflow: hidden;    
}

h1, h2, h3, h4 {
    font-family: "Cambria",Verdana,Helvetica,sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 110%;
    margin: 0;
}

#left, #main, #right-menu {
    padding: 12px;
    margin: 16px;
    
    border: solid 1px #EEEEEE;
}

#left {
    position: absolute;
    
    top : 0;
    bottom: 0;
    
    width: 15em;
    
    overflow:	auto; /* Opera fix */
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;

    cursor: default;
}

a.block-link {
    color: #26292D;
    text-decoration: none;
    -moz-border-radius: 5px;
}

a.block-link:hover {
    background-color: #C3D9FF;
}

#left .year {
    display: inline-block;
    font-size: 110%;
    color:  #AAA;
    
    text-align: center;
    width: 100%;
}

#left a + .year {
    margin-top: 0.4em;
}

#left a {
    display: block;
    position: relative;
    
    padding: 0.2em;
    white-space: nowrap;	
    
    overflow: hidden;	
    text-overflow: ellipsis;
}

#left a .image-count {
    /*float:          right;*/
    position:         absolute;
    right:            0px;
    background-color: white;
    height:           100%;
    
    padding-left:     0.5em;
    
    font-size:      80%;
    color:          #CCCCCC;
    
    vertical-align: middle;
}

#left a:hover .image-count {
    background-color: #C3D9FF;
}

#left a.selected {
    background-color: #356AA0;    
    color: #FFFFFF;
    font-size: 120%;
    cursor: default;
}

#left a:hover .image-count {
    color: #111111;
}

#left a.selected .image-count {
    display: none;
}

#left a.more {
    text-align: center;
}

#main
{	
    position: absolute;
    
    left:	17.6em;	
    right:	0;
    top:	0;
    bottom: 0;
    
    display: block;
    overflow: auto;
}

#right-menu {
    display: none;
    
    position: absolute;
    width: 10em;
    
    right:	0;
    top:	0;
    bottom: 0;
}

/*.wall {
    width: 100%;
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    -moz-box-lines: multiple;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    -webkit-box-lines: multiple;
}*/

.album-view .title {
    font-size: 120%;
}

.album-view .wall .item {
    width: 250px;
    min-height: 160px;
    
    display: inline-block;
    
    /*display: block;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;*/
    
    vertical-align: middle;
    
    margin-right: 10px;
    margin-bottom: 10px;	

    text-align: center;
}

.album-view .wall .item img {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('Images/loading.gif');	
    
    -moz-box-shadow:    0 0 5px #505050;
    -webkit-box-shadow: 0 0 5px #505050;
    box-shadow:         0 0 5px #505050;
    
    margin: 3px;
 }

.album-view .wall .item.selected img {
    border: 2px solid #356AA0 !important;
    padding: 1px;
    margin: 0;
}

.image-view {
    /*display: block;*/
    text-align: center;
}

a.album-visible-to {
    text-decoration: none;
    color: #FFF;
}

.album-visible-to {
    position: fixed;
    bottom: 2em;
    right: 3em;
    background-image: url('images/fancy_title_over.png');
    color: #FFF;
    padding: 0.5em;
    opacity: 0.6;
}

.user-group {
    display: inline-block;
    border: 1px solid #EEEEEE;
    padding: 2px;
}

.user-group * {
    vertical-align: middle;
}

form.grant .user-group {
    opacity: 0.4;
    margin: 1px;
}

form.grant .user-group:hover {
    opacity: 0.6;
}

form.grant .user-group.granted {
    margin: 0px;
    border: 2px solid #35A06A;    
    opacity: 1;
}

#fancybox-title {
    display: none !important;
}

#fancybox-outer:hover #fancybox-title {
    display: block !important;
}

#fancybox-title-over {
    text-align: right;
}

.image-actions a + a {
    margin-left: 0.5em;
}

#main img {
    border: 0;
}

#login {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -5em;
    margin-left: -8em;
    
    width: 14em;
    height: 8em;
    
    padding: 1em;
        
    text-align: center;
    
    z-index: 1;
    background: white;
}

#login form {
    padding: 2em;
    padding-top: 1em;
}

#login form {
    font-size: 110%;
}

#login .field-validation-error {
    color: red;    
}

#login .OpenIdProviders li,
#login .OpenIdProviders li div {
    width: auto;
    height: auto;
}

#background {
    background-color: #000;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 0;
}

.OpenIDForm, #OpenIDButton {
    display: none;
}